<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Page</title>
</head>
<body>
    <a href="#" th:href = "@{/addUser}">Add user</a>
    <table border = "1">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>

        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
                <a th:href="@{/updateUser/{myUserId}(myUserId=${user.id})}">Edit</a>

                <a th:href="@{/deleteUser/{myUserId}(myUserId=${user.id})}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>